<h1>WHADDUP, YUNG?!</h1> 
<h3>YA DUN MADE IT TO DA LIST.</h3> 
<h3>HOPE YEW AINT GOT NO KIDS,</h3> 
<h3>CUZ YEE GOT SHIT TO DO.</h3>
</br>
<p>VVVVVVVVVVVV</p>
<h3><%= link_to '~ TA-DA LIST ~', items_path %></h3>
<p>^^^^^^^^^^^^^^^^^^</p>

